.footer{
	text-align:center;width:100%;height:35px;background:#;position:absolute;bottom:0px;right:0px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{margin:0;font-family:'Roboto',sans-serif;}
.navigation{
	width:20%;
	height:100%;
	position:absolute;
	right:0px;text-align:center;
	background:#86ac41;
}


p.write-1{
	color:white;font-family:'Roboto',sans-serif;font-size:.7em;
}
/*************FIRST PAGE*************/
.first-page{
	width:100%;overflow:hidden;
	height:100%;
	background-image:linear-gradient(0deg,#13547a, #80d0c7);
	margin:0px;position:relative;
}
.navigation ul{
	display:inline-block;
	text-decoration: none;
	list-style-type:none;margin:auto !important;padding:0;
	margin-top:100% !important;
}
.navigation li{
	width:100%;
	height:45px;
	margin:0px;position:relative;
	background:none;line-height:45px;transition:all .2s;overflow: hidden;

}

.back{
	width:0%;
	position:absolute;
	background:#34675C;
	bottom:0px !important;transition:all .1s;
	height:3px;
}
.navigation li:hover .back{width:100%;}
.navigation a{
	color:white;
	text-decoration:none;
	font-style:bold;
	font-family:'Roboto',sans-serif;
	font-size:1.1em;transition:all .2s;
}
.navigation li:hover a{color:#34675C;}

.container-imag{
	width:50%;
	height:50%;
	position:absolute;
	top:32%;
	left:26%;background:url('img.jpg') no-repeat;background-position: center;
}
.container-white{
	background:none;z-index:9;
	width:27%;
	height:100%;
	position:absolute;text-align:center;
	left:0%;
	top:0%;
}

h2.write-2{
	font-size:1.3em !important;color:#fff;font-family:'Roboto',sans-serif;
}

/*********SECOND PAGE**************/

.container-article{
	width:65%;height:90%;position:absolute;left:5% !important;top:7%;background:none;
}

.second-page{
	width:100%;overflow:hidden;
	height:100%;
	background:#fff;
	margin:0px;position:relative;
}

h1.write-h1{
	color:red;font-size:28px;
	font-style:bold;font-family: 'Roboto',sans-serif;
}

p.write-p{
	font-style:bold;font-size:15px;font-family: 'Roboto',sans-serif;
}



.third-page{
	width:100%;height:100%;position:relative;background:none;
}






.continut-contact{
	width:60%;
	height:80%;
	background:none;
	position:absolute;
	z-index:10;
	top:10%;
	font-family: 'Roboto',sans-serif;font-size:.9em;color:#000;
	text-align:center;
	left:5%;
}



.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10{
	width:100%;height:100%;background-position: center;border-radius:5px;
}
.img1{
	background:url('img/img1.jpg') no-repeat;
}
.img2{
	background:url('img/img2.jpg') no-repeat;
}
.img3{
	background:url('img/img3.jpg') no-repeat;
}
.img4{
	background:url('img/img4.jpg') no-repeat;
}
.img5{
	background:url('img/img5.jpg') no-repeat;
}
.img6{
	background:url('img/img6.jpg') no-repeat;
}
.img7{
	background:url('img/img7.jpg') no-repeat;
}
.img8{
	background:url('img/img8.jpg') no-repeat;
}
.img9{
	background:url('img/img9.jpg') no-repeat;
}
.img10{
	background:url('img/img10.jpg') no-repeat;
}

.container2{
	width:40%;height:36%;background:#232323;position:absolute;top:20%;border-radius:5px;left:5%;box-shadow:10px 10px #ccc;
}
.cont{width:50%;height:40%;background:#fff;position:absolute;text-align:center;border-radius:5px;
	right:25%;top:45%;font-family:'Arial',sans-serif;color:#000;font-size:.9em;box-shadow: 10px 10px #ccc;}
	th,td{
		padding:10px;text-align:center;font-family: 'Roboto',sans-serif;
	}



.container-3{
	width:65%;
	height:80%;
	background: none;
	position:absolute;
	left:5%;text-align: center;
	top:7%;
}

.transparent{
	width:100%;margin:0;
	height:100%;
	background:none;transition:all .1s;border-radius:5px;
}

.img1:hover .transparent,
.img2:hover .transparent,
.img3:hover .transparent,
.img4:hover .transparent,
.img5:hover .transparent,
.img6:hover .transparent,
.img7:hover .transparent,
.img8:hover .transparent,
.img9:hover .transparent,
.img10:hover .transparent{
	background:rgba(35,35,35,.75);
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    width:120px;
	height:45px;
	background:none;
	border:2px solid #232323;
	text-align:center;
	color:black;
	transition:all .2s;
}

input[type=submit]:hover {
    background:#232323;
	color:white;
}

.container {
    background-color: none;
    padding: 20px;
}
